
{% extends 'rango/base.html' %}
{% load staticfiles%}
{% block title %}
{{ category_name }}
{% endblock %}
{% block body_block %}
        <h1>Rango says...</h1>

        <div>
            hey there partner!
        </div>

        <div>
		<h3> Most liked Categories </h3>
        {% if categories %}
        <ul>
           {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }} </a>
			</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>


		 <div class="span6">
        <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category}} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    </div>

		<div>
		<a href="/rango/add_category/">Add a New Category</a><br />
		</div>
        <div>

            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
{% endblock %}